.recommended-friends {
  margin: 25px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
  padding: 25px 0px;
}

.recommended-friends__title {
  font-size: 14px;
  color: var(--main-fontcolor);
}

.recommended-friends span {
  /* <span>은 inline이다.
  inline의 경우, display: block;을 적용해줘야 margin 사용이 가능하다.*/
  display: block;
  margin: 100px 0px;
  text-align: center;
  font-size: 18 px;
  color: var(--main-fontcolor);
}

.open-chat__header {
  /* space-between는 양쪽끝에 배치할때,
    space-arond는 공간을 일정하게 나눠서 배치할때 */
  display: flex;
  justify-content: space-between;
  opacity: 0.7;
  margin-bottom: 25px;
}

.open-chat__header span {
  opacity: 0.6;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  border-bottom: var(--main-border);
}

.open-post__title {
  font-weight: 600;
  margin-bottom: 7px;
}

.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.8;
}

.open-post__members {
  margin-top: 7px;
  display: flex;
  align-items: center;
  /* 왜? */
}

.open-post__members img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post__member-count {
  opacity: 0.7;
  font-size: 14px;
}

.open-post__members .divider {
  width: 1px;
  height: 15px;
  margin: 0 5px;
  background-color: var(--main-fontcolor);
}

.open-post__member-status {
  color: rgb(248, 238, 242);
}
.open-post__photo {
  position: relative;
  /* 사진 위에 하트하운터를 올리고 싶으면
  원하는 요소에 absolute를 지정하고 사진 요소에 relative를 지정한다.

  absolute children은 relative father이 꼭 필요해! */
}

.open-post__photo img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
}

.open-post__heart-count span {
  margin-left: 3px;
}

@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(1.5);
  }
  100% {
    color: white;
    transform: none;
  }
}

.open-post__heart-count:hover i {
  will-change: transform;
  /* will-chang는 브라우저에게 무언가 변경될 것이라고 이야기해주는 property이다.
  이 기능을 사용하면 animation을 좀 더 낫게(더 부드럽게 작동되도록) 만들 수 있다.
  일종의 브라우저를 돕는 기능이다.
  예를들어, 지금과 같이 하트의 사이즈가 작을때 흘들리는 것을 안정적으로 움직이게 할 수 있다.*/
  animation: heartBeat 1s linear infinite;
}
