@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Open+Sans:wght@400;600&display=swap");

body {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.screen-header__title {
  color: white;
  font-family: "Bree Serif", serif;
}
#friends-display-link {
  text-align: center;
  display: block;
  background-color: #faf8ee;
  padding: 14px 0px;
  font-size: 16px;
  margin-bottom: 25px;
  margin-top: -10px;
  color: #ff7770;
}

#friends-display-link i {
  color: #ff7770;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
  padding-top: 15px;
  margin-bottom: 30px;
}

.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: white;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: peachpuff;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120px;
  animation: hideSplashScreen 0.3s ease-in-out forwards;
  animation-delay: 0.7s;
}

.front {
  font-size: 50px;
  color: white;
  font-family: "Bree Serif", serif;
}
